header {
    background-color: #4a3915;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
 
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  nav .logo a {
    color: #ffffff;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
 
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
 
  nav ul li {
    margin-left: 1rem;
  }
 
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s ease;
  }
 
  nav ul li a:hover {
    color: #4a3316;
  }
